/configure
/aclocal.m4
/build-aux
/autom4te.cache
/bygg
/build
Makefile.in
Makefile
*fst
*.hfstol
*.foma
*.bin
*.bcg3
/src/fst/generated_files/*
/src/fst/url.lexc
/src/fst/*.tmp.*
/src/fst/lexicon*
/src/cg3/dependency.cg3
/src/cg3/disambiguator.cg3
/src/cg3/functions.cg3
/src/cg3/korp.cg3
/tools/grammarcheckers/*.pmhfst
/tools/grammarcheckers/*.cg3
/tools/grammarcheckers/*.zhfst
/tools/grammarcheckers/*.zcheck
/tools/grammarcheckers/modes
/tools/grammarcheckers/errors.xml
/tools/grammarcheckers/schemas.xml
/tools/grammarcheckers/pipespec.xml
/tools/analysers/*.pmhfst
/tools/analysers/*.cg3
/tools/analysers/*.zcheck
/tools/analysers/modes
/tools/grammarcheckers/pipespec.xml
