/configure
/aclocal.m4
/build-aux
/autom4te.cache
bygg
build
Makefile.in
Makefile
.DS_Store
*.*fst
*.hfstol
*.foma
*.bin
*.bcg3
*.oxt
*.xpi
*.zip
*.service
/src/fst/generated_files/*
/src/fst/url.lexc
/src/fst/*.tmp.*
/src/fst/lexicon*
/src/cg3/dependency.cg3
/src/cg3/disambiguator.cg3
/src/cg3/functions.cg3
/src/cg3/korp.cg3
/tools/grammarcheckers/*.pmhfst
/tools/grammarcheckers/*.cg3
/tools/grammarcheckers/*.zhfst
/tools/grammarcheckers/*.zcheck
/tools/grammarcheckers/modes
/tools/grammarcheckers/errors.xml
/tools/grammarcheckers/schemas.xml
/tools/grammarcheckers/pipespec.xml
/tools/analysers/*.pmhfst
/tools/analysers/*.cg3
/tools/analysers/*.zcheck
/tools/analysers/modes
/tools/grammarcheckers/pipespec.xml
/config.log
/config.status
/giella-*.pc
/devtools/test_voikkospell_suggestions.sh
/devtools/test_ospell-office_suggestions.sh
/devtools/test_grammar_checker.sh
/devtools/check_analysis_regressions.sh
/tools/analysers/pipespec.xml
/tools/shellscripts/u*-gt.sh
/test/run-morph-tester.sh
/test/run-yaml-testcases.sh
/test/src/morphology/generate-noun-lemmas.sh
/test/src/morphology/generate-propernoun-lemmas.sh
/test/src/morphology/generate-adjective-lemmas.sh
/test/src/morphology/generate-verb-lemmas.sh
/test/src/phonology/pair-test-positive.sh
/test/src/phonology/pair-test-negative.sh
/test/src/phonology/pair-test-hfst.sh
/test/tools/spellcheckers/test-zhfst-file.sh
/test/tools/spellcheckers/fstbased/desktop/hfst/test-zhfst-basic-sugg-speed.sh
/test/tools/spellcheckers/fstbased/desktop/hfst/accept-all-lemmas.sh
/tools/spellcheckers/editdist.default.regex
/tools/spellcheckers/filters/remove-word-boundary.regex
/tools/spellcheckers/filters/remove-usage-tags.regex
/tools/spellcheckers/weights/*.clean.txt
/tools/spellcheckers/easteregg.*
