---
---

@import "{{ site.theme }}";

html, body {height: 100%; }

:root {
  --left-menu-width: 250px;
}

div.twocolumn {
  column-count: 2;
  column-rule: 2px solid lightblue;
  margin-bottom: 1.5em;
}

div.threecolumn {
  column-count: 3;
  column-rule: 2px solid lightblue;
  margin-bottom: 1.5em;
}

header {
  width: var(--left-menu-width);
  height: calc(100% - 10em);
}

header h2.tocheader {
  margin: 0;
  font-size: 1em;
  border-top: 1px solid rgb(224, 224, 224);
  padding-top: 0.4em;
  padding-bottom: 0.4em;
  text-decoration: underline;
  color: #777;
}

header #left_toc {
  /* float: none; */
  text-align: left;
  background: #fff;
  border-style: none;

  /* Attempt at creating a scrolling text box with dynamic height relative to viewport size: */
  margin-bottom: 153px;
  height: calc(100% - (10em + 14em)); /* 10em: ≈footer height, 14em: ≈top header height */
  overflow: auto;
}

header #left_toc > li {
  width: auto;
  float: none;
  text-align: left;
  border-style: none;
  height: auto;
  display: block;
  font-weight: bold;
  font-size: 16px;
  background: #fff;
}

header #left_toc li > ul {
  float: none;
  text-align: left;
  height: auto;
  /* top | left and right | bottom */
  border-style: none;
  margin-left: 1em;
  margin-bottom: 0px;
  background: #fff;
}

#left_toc > li > ul {
  width: calc(var(--left-menu-width) - 1em);
}
#left_toc > li > ul > li > ul {
  width: calc(var(--left-menu-width) - 2em);
}
#left_toc > li > ul > li > ul > li > ul {
  width: calc(var(--left-menu-width) - 3em);
}
#left_toc > li > ul > li > ul > li > ul > li > ul {
  width: calc(var(--left-menu-width) - 4em);
}

header #left_toc li > ul > li {
  width: auto;
  float: none;
  border-style: none;
  height: auto;
  display: block;
}

header #left_toc a {
  padding: 0;
  display: inline;
  text-align: left;
  border-style: none;
  height: auto;
}

header #left_toc a:hover {
  text-decoration: underline;
}

/* We want wider body text for large browser windows: */
body .wrapper { width: 900px ; }
.wrapper section {
  width: 620px ;
  margin-left: 290px;
}

/* --- iPad and other Tablet screen widths: --- */

@media print, screen and (max-width: 960px) {
  header a small {
    display:inline
  }

  header #left_toc {
    margin: 1em 3em 2em 0;
    border-style: none solid none none;
    border-color: #e0e0e0;
    border-width: 1px;
    padding-right: 1em;
    float: left;
  }

  header ul {
    width: auto;
    position: static;
  }

  div.highlight {
    background-color: transparent;
  }
  pre.highlight {
    background-color: #f8f8f8;
    display: block;
  }

  p, ul, ol, table, pre, dl { overflow: hidden; }

  /* For smaller screens we want auto width: */
  html body .wrapper { width: auto ; }
  body .wrapper section { width: auto ; margin-left: 0}
}

@media print, screen and (max-width: 720px) {
   header #left_toc {
      position: static;
      float: none;
      border-style: none;
      margin: 0;
      padding: 0;
  }

   header {
      width: static ;
      padding: 0;
  }
}
