# Ignore regex files copied here from giella-shared:
make-optional-dialect-tags.regex
dialect-tags.txt
make-optional-derivation-tags.regex
make-optional-semantic-tags.regex
derivation-tags.txt
error-tags.txt
lexicon-tags.txt
remove-dialect-tags.regex
make-optional-orig_lang-tags.regex
grammatical-tags.txt
orig_lang-tags.txt
area-tags.txt
reorder-semantic-tags.regex
make-optional-area-tags.regex
semantic-tags.txt
remove-orig_lang-tags.regex
make-optional-grammatical-tags.regex
remove-grammatical-tags.regex
remove-semantic-tags.regex
remove-derivation-strings.regex
make-optional-error-tags.regex
remove-error-strings.regex
remove-semantic-tags-before-derivations.regex
remove-error-tags.regex
remove-area-tags.regex
remove-derivation-tags.regex
